.container {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    align-items: center; 

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
 
};

.title {
    font-size:60px;
};

a {
color: $secondary-color;
padding-left: 20px;

};

.link::after {
    position: absolute;
    content: "";
    height: 25px;
    width: 3px;
    color: aqua;
    
}