.main-contener {
    display: flex;
   
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

}

.questionnaire {
    display: block;
    background-color: $secondary-color;
    color: black;
    border-radius: 10%;
    margin: 30px;
    padding: 30px;

}
