.button {
    text-align: center;
    padding-bottom: 25px;

    &__sendForm {
    
        background-color: $primary-color;
        color: #fff;
        border: none;
        width: 100px;
        height: 35px;
        margin-top: 50px;

}
   
}